FATSECRET_CONSUMER_KEY=your_fatsecret_consumer_key
FATSECRET_CONSUMER_SECRET=your_fatsecret_consumer_secret
DB_ROOT_PASS=your_mysql_root_password
DB_NAME=nutritrack
DB_USER=nutritrack_user
DB_PASS=your_mysql_user_password
DB_HOST=localhost
DB_PORT=3306
SESSION_SECRET=replace_with_a_long_random_secret
